/* Menu settings */
/* The main container */
.greedy-menu {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 240px;
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
  /* Style resets */
  /* The links */
  /* The hidden links list */
  /* The button which hides/shows links */ }
  .greedy-menu * {
    box-sizing: border-box; }
  .greedy-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* The visible links list */ }
    .greedy-menu ul:first-of-type {
      position: relative;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      /* Displaying the menu items on the same line */ }
  .greedy-menu a {
    display: block;
    padding: 18px 25px;
    color: #ff9800;
    text-decoration: none;
    white-space: nowrap; }
  .greedy-menu .visible-links > li:not(:last-child) > a {
    border-right: 1px solid #ff9800; }
  .greedy-menu .hidden-links {
    position: absolute;
    top: 54px;
    right: 0;
    background-color: #fff;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.175, 1); }
    .greedy-menu .hidden-links.links-invisible {
      -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform: scaleY(0); }
      .greedy-menu .hidden-links.links-invisible li {
        opacity: 0; }
        .greedy-menu .hidden-links.links-invisible li a {
          color: #fff; }
    .greedy-menu .hidden-links li {
      display: block;
      opacity: 1;
      transition: opacity 0.25s ease 0.15s, color 0.15s; }
      .greedy-menu .hidden-links li:not(:last-child) > a {
        border-bottom: 1px solid #ff9800; }
  .greedy-menu .toggle-links {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative;
    -webkit-flex: 0 0 60px;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    visibility: hidden;
    top: 0;
    right: 0;
    border: none;
    width: 60px;
    height: 54px;
    background-color: #e08600;
    font-size: 18px;
    line-height: 1;
    color: #ff9800;
    cursor: pointer;
    /* Firefox specific style reset */
    /*  The hamburger icon */
    /* The circle icon */ }
    .greedy-menu .toggle-links:hover {
      background-color: #d68000; }
      .greedy-menu .toggle-links:hover::before {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
    .greedy-menu .toggle-links:focus {
      outline: none; }
    .greedy-menu .toggle-links.visible {
      visibility: visible; }
    .greedy-menu .toggle-links::-moz-focus-inner {
      padding: 0;
      border: 0; }
    .greedy-menu .toggle-links::after {
      content: '';
      position: absolute;
      top: 17px;
      left: 12px;
      display: block;
      width: 36px;
      height: 4px;
      background-color: #fff;
      box-shadow: 0 8px 0 #fff, 0 16px 0 #fff;
      transition: box-shadow 0.2s ease 0.1s, -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
      transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1), box-shadow 0.2s ease 0.1s;
      transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1), box-shadow 0.2s ease 0.1s, -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.175, 1); }
    .greedy-menu .toggle-links.counter::before {
      box-sizing: border-box;
      content: attr(data-count);
      position: absolute;
      z-index: 2;
      top: 10px;
      left: -17px;
      display: block;
      color: #fff;
      font-size: 16px;
      width: 34px;
      padding: 6px 1px;
      background-color: #db8300;
      border: 3px solid #fff;
      border-radius: 50%;
      line-height: 1;
      text-align: center; }
